@tailwind base;
@tailwind components;
@tailwind utilities;

.request-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 1 0 300px; /* Adjust the width of the cards as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  